body {
  font-family: 'Montserrat Variable', sans-serif;
  overflow-y: scroll;
}

/* Custom scrollbar for webkit browsers */
/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar for vertical scrolling */
  height: 5px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 5px; /* Round corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* Horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background: #888; /* Thumb color for horizontal scrolling */
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555; /* Thumb color on hover for horizontal scrolling */
}
/* https://dev.to/afif/a-multi-line-css-only-typewriter-effect-3op3 */
.type {
  color:#0000;
  background:
    linear-gradient(-90deg,#eeeeee 5px,#0000 0) 5px 0,
    linear-gradient(#eeeeee 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .7s infinite steps(1),   
   t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

